@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Raleway;
	src: url('../public/fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
		url('../public/fonts/Raleway-Italic-VariableFont_wght.ttf')
			format('truetype');
	font-stretch: 25% 150%;
	font-style: oblique 0 1;
	font-weight: 100 900;
	font-display: swap;
}

.raleway {
	font-family: Raleway;
}

body {
	@apply p-safe min-h-screen text-gray-900 bg-gray-50 dark:text-gray-50 dark:bg-gray-900 antialiased;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.map_svg__path {
	stroke-dasharray: 49 1;
	animation: dash 5s linear infinite;
}

.map_svg__reverse-anim {
	animation-direction: reverse;
}

@keyframes dash {
	from {
		stroke-dashoffset: 100;
	}
}
