@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply p-safe min-h-screen text-gray-900 bg-gray-50 dark:text-gray-50 dark:bg-gray-900 antialiased;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.map_svg__path {
	stroke-dasharray: 49 1;
	animation: dash 5s linear infinite;
}

.map_svg__reverse-anim {
	animation-direction: reverse;
}

@keyframes dash {
	from {
		stroke-dashoffset: 100;
	}
}
